name: Build Android APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.27.0'

          cache: false # قمنا بتعطيل الكاش هنا مؤقتاً لضمان قراءة الملفات الجديدة

      - name: Install dependencies
        run: flutter pub get

      - name: Clean build
        run: flutter clean # ضروري جداً لمسح أي ملفات قديمة مخزنة

      - name: Build APK
        run: flutter build apk --release
      
      - uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/app/outputs/flutter-apk/app-release.apk
